:root { 
  --font_stack : 'Roboto', sans-serif; 
  --font_logo : 'Raleway', sans-serif;
  --primary_color: #FFFFFF;
  --alternative_white: #F5F4FA;
  --secondary_color: #2F303A;
  --third_color: #2196F3;
  --hover_button_color: #188CE8;
  --h2_h3_font_color:#212121;
  --p_font_color: #757575;
  --tag_border_color: #EEEEEE;
}
body { 
  font-family: var(--font_stack), 'Arial', 'Helvetica', sans-serif, var(--font_logo);  
  color: var(--h2_h3_font_color);
  background-color: var(--primary_color);
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  border:0;
}
hr{border-color: #ECECEC40;
  ;

}
body ul {
  padding: 0px;
  list-style: inherit;
}
body a {
  text-decoration: inherit;
}
body h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 2.637em;
}
body h3 {
  font-weight: 500;
  color:var(--h2_h3_font_color);
}
body p {
  color: var(--p_font_color);
  font-weight: 400;
}
body p img {
  display: block; max-width: 100%; height: auto;
}

header { 
  display: flex;
  align-items: center;

}

header ul a:hover {
  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav__link:focus {
  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)

}

nav .nav__link--current {
  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

nav .nav__link--current::after { 
  content: "";
  position: absolute;
  background-color: var(--third_color);
  height: 4px;
  border-radius: 2px;
  width: 55%;
  left: 0;
  bottom: -14px; 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 19.5px;
}

nav .nav__link--current2::after { 
  content: "";
  position: absolute;
  background-color: var(--third_color);
  height: 4px;
  border-radius: 2px;
  width: 64%;
  left: 0;
  bottom: -14px; 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 19.5px;
}

nav { 
  display: inherit;
  align-items: center;
  margin-left: 215px;
  }

.nav__logo {
  font: 100% "Raleway", sans-serif;
  color: var(--third_color);
  font-size: 26px;
  line-height: 1.908em;
  font-weight: 700;
  letter-spacing: inherit;

}
.nav__bar {
  display: inline-flex; 
  padding: 20px;
  align-items: center;
  }
.nav__link { color: var(--h2_h3_font_color);
  margin-left: 50px;
  padding: 20px;
  position: relative;
}

.nav__link:after { content: "";
  position: absolute;
  background-color: var(--third_color);
  height: 4px;
  border-radius: 2px;
  width: 0;
  left: 0;
  bottom: -14px; 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 19.5px;
}
.nav__link:hover:after { width: 55%;
  margin-left: 19.5px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav__link:focus:after { width: 55%;
  margin-left: 18.5px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.after__link:hover::after{
  width: 64%;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.after__link:focus::after{
  width: 64%;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav__contact { 
  display: inline-flex;
  margin-left: 284px;
}

.nav__icon{ 
  display: flex;
  position: absolute;
  fill: var(--p_font_color);
  cursor: pointer; 
  padding-left: 25px;
}

.nav__icon svg {
  position: inherit;
  width: 180px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -19.5px;
}

.nav__icon:hover ~ a{  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)}
.nav__icon:focus ~ a{  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)}
.nav__icon:hover { fill: var(--third_color); 
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)}
.nav__icon:focus { fill: var(--third_color); transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)}

.nav__inf { 
  color: var(--p_font_color);
  margin-left: 40px;
  padding: 20px;
}

.modal { 
  width: 528px;
  height: 581px;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
margin-left: -250px;
  background-color: var(--primary_color);
}

.quit { 
  background-color: var(--primary_color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  margin-left: 488px;
  margin-top: 8px;
  cursor: pointer;
}
.quit:hover { 
  border-color: var(--third_color) ;
  fill: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.quit__svg{ 
  margin-top: 6px;
  margin-left: 4.99px;
  width: 30px;
  height: 30px;
}

.backdrop { 
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #00000033;
  margin-top: -685px;
  z-index: 4;
  visibility: hidden;
  opacity: 0; 
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);   
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001F;
}
.show-modal {
  opacity: 1;
  visibility: visible;
}

.main__index {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 600px;
  padding: 94px;
  text-align: center;
  background-image: linear-gradient( #2F303A66, #2F303A66), url("../images/background.jpg") ;
  background-size: 100%;
}
.main__index .main__title {
  color: var(--primary_color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 40px;
}
.main__index .main__button {
  font-family: inherit;
  border: inherit;
  background-color: var(--third_color);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary_color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 261px;
  height: 50px;
  cursor: pointer;
}
.main__index .main__button:hover {
  background-color: var(--hover_button_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.main__index .main__button:focus {
  background-color: var(--hover_button_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.main__index .main__button:focus-visible {
  background-color: var(--hover_button_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.container { 
  padding: 94px;
  justify-content: center;
  align-items: center;
  padding-top: 15px 0px;
}
.lists { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__list { 
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-right: 30px;
  line-height: 24px;
}
.rectangle__advantages{
  width: 270px;
  height: 120px;
  background-color: var(--alternative_white);
  border-radius: 4px;
}
.rectangle__advantages_2{
margin-top: 22.5px;
}
.advantage__icon{
  margin-top: 25px;
  margin-left: 98px;
}
.container__subt {
  font-weight: 700;
  text-transform: uppercase;
}
.rectangle__about { 
  width: 374px;
  margin-top: 254px;
  height: 70px;
  background-color: #2F303ACC;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle__about h3 { 
color: var(--primary_color);
}

.about_advantage h2 {
  margin-top: -100px; 
}

.container__img { 
  display: flex;
  justify-content: center;
}

.job { 
  margin-right: 30.26px;
}

.container--third {
  background-color: var(--alternative_white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__teammates{
  display: inline-flex;
  width: 270px;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--primary_color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
.container__teammates .teammate {
  width: 270px;
  height: 260px;
}
.container__teammates h3 {
  font-size: 16px;
  line-height: 1.172em;
  text-align: center;
  margin-top: 30px;
}
.container__teammates p {
  font-size: 16px;
  line-height: 1.188em;
  text-align: center;
  color: var(--p_font_color);
  margin-top: -5px;
  margin-bottom: 20px;
}

.social__media__teammates{
  display: flex;
  margin-left: 25px;
  margin-bottom: 25px;
}


.background__icon{
background-color: var(--primary_color);
border-radius: 50px;
height: 44px;
width: 44px;
margin: 5px;
fill: #AFB1B8;
cursor: pointer;
}

.background__icon:hover {
  background-color: var(--third_color);
  fill: var(--primary_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

  .link_sm:focus > .background__icon {
    background-color: var(--third_color);
    fill: var(--primary_color);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

  .teammates__icons{ 
    fill: inherit;
    margin-top: 12px;
    margin-left: 11.8px;
    height: 30px;
    width: 36px;
  }

  .teammates__icons_1{ 
    margin-left: 12.2px;
  }
.client__container { 
  padding-top: 30px ;
}

.clients { 
  display: flex;
  justify-content: center;
}
.icon__container > a{ 
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #AFB1B8;
  margin-right: 30px;
  width: 170px;
  height: 81px;
cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  fill: #AFB1B8;
}
.icon__container:hover > a{ 
  fill: var(--third_color);
  border-color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.client_focus:focus  { 
  fill: var(--third_color);
  border-color: var(--third_color);
  outline: none;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon { 
  margin-top: 6px;
  margin-left: 64px;
  height: 50px;
}
.icon3 {
  margin-top: 6px;
  margin-left: 62px;
}
.icon4 {
  margin-top: 6px;
  margin-left: 50px;
}
.icon5 {
  margin-top: 6px;
  margin-left: 50px;
}
.icon6 {
  margin-top: 6px;
  margin-left: 36px;
}

.title__port{ color: var(--primary_color); 
  font-size: 10px;
  text-align: left;
  user-select: none;
}

.main__list { 
  display: flex;
  justify-content: center;
  margin-top: 106px;
}
.main__port .button {
  background-color: var(--alternative_white);
  border-radius: 4px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: inherit;
  border: inherit;
  font-family: inherit;
  height: 38px;
  cursor: pointer;
  margin: 8px;
}
.main__port .button:hover {
  background-color: var(--third_color);
  color: var(--primary_color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.main__port .button:focus {
  background-color: var(--third_color);
  color: var(--primary_color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
  outline: none;
}

.main__port .button:focus-visible {
  background-color: var(--third_color);
  color: var(--primary_color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.main__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

.image { 
  margin: 30px;
  background-color: var(--primary_color);
  border-style: solid;
  border-width: 1px ;
  border-color: var(--tag_border_color);
  cursor: pointer;
  display: block;
  position: relative;
}

.product_image{ position: relative; height: 150px;}

.blue_card { 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#2196F3E5;
  color: var(--primary_color);
  align-items: center;
  height: 0;
  width: 100%;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  display: flex;
}

.blue_card p { 
  color: var(--primary_color);
  margin: 24px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400px;
  position: relative;
}


.image:hover {
  box-shadow: 1px 4px 6px 0px #00000049;

  box-shadow: 0px 4px 4px 0px #0000000F;
  
  box-shadow: 0px 1px 1px 0px #0000001F;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.image:hover  .blue_card {
  height: 300px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.main__subt {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25em;
  margin-left: 24px;
}

.--subt2{ line-height: 1.25em;
}

.main__p { line-height: 1.875em;
margin-left: 24px; margin-top: -5px; font-size: 16px;}

.product {
  width: 370px;
  height: 294px;
}

footer {
  background-color: var(--secondary_color);
}

.nav__contact { cursor: pointer; fill: var(--third_color);
}
footer a {
  color: #FFFFFF99;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  font-style: normal;
  margin-left: 125px

}
.--nav__infooter{
  margin: 0;
  margin-top: 2px;
  padding: 0;
}
.footer__container { 
  display: flex;
  justify-content: flex-start;
  
}

.footer__contact {
  margin-left: 72px;
}

.footer__contact h3{
  color: var(--primary_color);
  margin-top: 32px;
  margin-left: 70px;
}
.icon__footer { 
  display: flex;
  margin-left: 60px;
}
.icon__footer li { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  width: 50px;
}

.foot_link:focus > .footer__social-media {
  background-color: var(--third_color);
}
.footer__social-media{ 
  background-color: #FFFFFF1A;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin-left: -87px; 
}

.footer__social-media:hover { 
  background-color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer__social-media:focus { 
  background-color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon { 
  fill: var(--primary_color);
  width: 30px;
  height: 30px;
  margin-top: 11.5px;
  margin-left: 11.8px;
}

footer a:hover {
  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
footer a:focus-visible {
  color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
footer address a {
  color: var(--primary_color);

}

.foot__inbox { 
  margin-left: 93px;
}

.foot__inbox1{
  display: flex;
}
.foot__inbox h3 { 
  color: var(--primary_color);
}
.input__email { 
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--secondary_color);
  color:  #FFFFFF99;
  border-color: var(--p_font_color);
  border-style: solid;
  font-family: inherit;
  font-size: 16px;
  padding: 16px;
}
.input__email::placeholder { 
  color:  #FFFFFF99;
  font-family: inherit;
  font-size: 16px;
margin: 5px;
}


.input__box { 
  width: 448px;
  height: 40px;
  border-color: #21212133;
  border-radius: 4px;
  margin-top: 2px;
  padding-left: 45px;
}

.input__box::placeholder { 
  color: #75757580;
  font-size: 12px;
}
.input__comment {
  height: auto;
  padding: 10px;
}

.input__wrapper {
  position: relative;
  display: block;
  outline: none;
  color: var(--p_font_color);
  margin-top: 7px;
  font-weight: 400;
  fill: var(--h2_h3_font_color);
}

.input__wrapper:hover > .input__box {
border:2px solid var(--third_color);;
outline: none !important;
transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
caret-color: var(--third_color)
}
.input__wrapper:hover > .input__comment { 
transition:  250ms cubic-bezier(0.49, 0.09, 0, 1.52);
border: 2px solid var(--third_color);
}

.input__icon {
  position: absolute;
  margin-top: 13px;
  margin-left: -430px;
  width: 20px;
  height: 20px;
}
.input__wrapper:hover > .input__icon {
  fill: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

.input__box:focus{
  outline: none !important;
  border:2px solid var(--third_color);
  caret-color: var(--third_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

  .input__box:focus + svg{
    fill: var(--third_color);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
.contact__modal { 
margin-left: 41px;
margin-top: -12px;
}
.contact__modal h3 { 
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-left: 7px;
  }

  .checkbox  { 
    display: flex;
    margin-top: 18px;
    width: 400px;
    margin-left: 20px;
    margin-right: 10px;
    color: var(--p_font_color);
  }
  .form input[type="checkbox"] {
    visibility: hidden;
  }
  .form .label { 
    display: inline-block;
    position: absolute;
    cursor: pointer;
  }

  .form .label::before { 
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;    
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

  .form input[type="checkbox"]:checked + label::before{
    
    background-color: var(--third_color);
    border: 0px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .check__icon { 
    position: absolute;
    margin-left: -14.8px;
    margin-top: 4px;
    width: 15px;
    height: 10px;
    fill: var(--primary_color);
  }
  .check { 
    margin-right: 8.38px;
    margin-top: -5px;
    width: 25px;
    height: 26px;
    accent-color: var(--third_color);
    border: 0px;
  }
  .send__button { 
    background-color: var(--third_color);
    color: var(--primary_color);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: inherit;
    box-shadow:0px 4px 4px 0px #00000026;
    margin-left: 12px;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 110px;
    margin-top: 10px;
  }
  .send__button:hover { 
    background-color: var(--hover_button_color);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  
  .send__button:focus { 
    background-color: var(--hover_button_color);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .subscribe__bt { 
  background-color: var(--third_color);
  color: var(--primary_color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: inherit;
  box-shadow:0px 4px 4px 0px #00000026;
  margin-left: 12px;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.subscribe__bt:hover { 
  background-color: var(--hover_button_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.subscribe__bt:focus { 
  background-color: var(--hover_button_color);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.send__icon{
width: 24px;
height: 24px;
margin-left: 10px;
}