:root { 
  --font_stack : 'Roboto', sans-serif; 
  --font_logo : 'Raleway', sans-serif;
  --primary_color: #FFFFFF;
  --alternative_white: #F5F4FA;
  --secondary_color: #2F303A;
  --third_color: #2196F3;
  --hover_button_color: #188CE8;
  --h2_h3_font_color:#212121;
  --p_font_color: #757575;
  --tag_border_color: #EEEEEE;
}
body { 
  font-family: var(--font_stack), 'Arial', 'Helvetica', sans-serif, var(--font_logo);  
  color: var(--h2_h3_font_color);
  background-color: var(--primary_color);
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  border:0;
}
hr{border-color: #ECECEC40;
  ;

}
body ul {
  padding: 0px;
  list-style: inherit;
}
body a {
  text-decoration: inherit;
}
body h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 2.637em;
}
body h3 {
  font-weight: 500;
  color:var(--h2_h3_font_color);
}
body p {
  color: var(--p_font_color);
  font-weight: 400;
}
body p img {
  display: block; max-width: 100%; height: auto;
}

header { 
  display: flex;
  align-items: center;
}

nav { 
  display: inherit;
  align-items: center;
  margin-left: 215px;
  }

.nav__logo {
  font: 100% "Raleway", sans-serif;
  color: var(--third_color);
  font-size: 26px;
  line-height: 1.908em;
  font-weight: 700;
  letter-spacing: inherit;

}
.nav__bar {
  display: inline-flex; 
  padding: 20px;
  align-items: center;
  }
.nav__link { color: var(--h2_h3_font_color);
  margin-left: 50px;
  padding: 20px;
}
.nav__contact { 
  display: inline-flex;
  margin-left: 284px;
}
.nav__inf { 
  color: var(--p_font_color);
  margin-left: 40px;
  padding: 20px;
}
header ul a:hover {
  color: var(--third_color);
}
header ul a:focus-visible {
  color: var(--third_color);
}
nav .nav__link--current {
  color: var(--third_color);
}
nav .nav__link--current2 {
  color: var(--third_color);
}
.main__index {
  background-color: var(--secondary_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 600px;
  padding: 94px;
  text-align: center;
}

.main__index .main__title {
  color: var(--primary_color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 40px;
}
.main__index .main__button {
  font-family: inherit;
  border: inherit;
  background-color: var(--third_color);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary_color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 261px;
  height: 50px;
  cursor: pointer;
}
.main__index .main__button:hover {
  background-color: var(--hover_button_color);
}
.main__index .main__button:focus {
  background-color: var(--hover_button_color);
}

.main__index .main__button:focus-visible {
  background-color: var(--hover_button_color);
}

.container { 
  padding: 94px;
  justify-content: center;
  align-items: center;
  padding-top: 15px 0px;
}
.lists { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__list { 
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-right: 30px;
  line-height: 24px;
}

.container__subt {
  font-weight: 700;
  text-transform: uppercase;
}
.--container__subt2 { margin-top: 38px;}

.container__img { 
  display: flex;
  justify-content: center;
}
.job { 
  margin-right: 30.26px;
}

.container--third {
  background-color: var(--alternative_white);
  height: 648px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__teammates{
  display: inline-flex;
  width: 270px;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--primary_color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
.container__teammates .teammate {
  width: 270px;
  height: 260px;
}
.container__teammates h3 {
  font-size: 16px;
  line-height: 1.172em;
  text-align: center;
  margin-top: 30px;
}
.container__teammates p {
  font-size: 16px;
  line-height: 1.188em;
  text-align: center;
  color: var(--p_font_color);
  margin-top: -5px;
  margin-bottom: 20px;
}

.title__port{ color: var(--primary_color); 
  font-size: 10px;
  text-align: left;
  user-select: none;
}

.main__list { 
  display: flex;
  justify-content: center;
  margin-top: 106px;
}
.main__port .button {
  background-color: var(--alternative_white);
  border-radius: 4px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: inherit;
  border: inherit;
  font-family: inherit;
  height: 38px;
  cursor: pointer;
  margin: 8px;
}
.main__port .button:hover {
  background-color: var(--third_color);
  color: var(--primary_color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}
.main__port .button:focus {
  background-color: var(--third_color);
  color: var(--primary_color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.main__port .button:focus-visible {
  background-color: var(--third_color);
  color: var(--primary_color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.main__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

.image { 
  margin: 30px;
  background-color: var(--primary_color);
  border-style: solid;
  border-width: 1px ;
  border-color: var(--tag_border_color);
  cursor: pointer;
  
}

.image:hover {
  box-shadow: 1px 4px 6px 0px #00000049;

  box-shadow: 0px 4px 4px 0px #0000000F;
  
  box-shadow: 0px 1px 1px 0px #0000001F;
  
}

.main__subt {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25em;
  margin-left: 24px;
}

.--subt2{ line-height: 1.25em;
}

.main__p { line-height: 1.875em;
margin-left: 24px; margin-top: -5px; font-size: 16px;}

.product {
  width: 370px;
  height: 294px;
}

footer {
  background-color: var(--secondary_color);
}
footer a {
  color: #FFFFFF99;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  font-style: normal;
  margin-left: 125px

}
.--nav__infooter{
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

footer a:hover {
  color: var(--third_color);
}
footer a:focus-visible {
  color: var(--third_color);
}
footer address a {
  color: var(--primary_color);
}