@import '../sass/utils/variables';
@import '../sass/components/page-header';
@import '../sass/components/main-button-index';
@import '../sass/components/page-advantages';
@import '../sass/components/occupations';
@import '../sass/components/teammates';
@import '../sass/components/clients';
@import '../sass/components/page-modal';
@import '../sass/components/portfolio';
@import '../sass/components/footer';