.client__container {
	padding-top: 30px;
}
.clients {
	display: flex;
	justify-content: center;
}
.clients__icon__container {
	>a {
		display: flex;
		border-style: solid;
		border-width: 1px;
		border-radius: 4px;
		border-color: #AFB1B8;
		margin-right: 30px;
		width: 170px;
		height: 81px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		text-align: center;
		fill: #AFB1B8;
	}
	&:hover {
		>a {
			fill: $third_color;
			border-color: $third_color;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}
.client_focus {
	&:focus {
		fill: $third_color;
		border-color: $third_color;
		outline: none;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
.clients__icon {
	margin-top: 6px;
	margin-left: 64px;
	height: 50px;
}
.clients__icon3 {
	margin-top: 6px;
	margin-left: 62px;
}
.clients__icon4 {
	margin-top: 6px;
	margin-left: 50px;
}
.clients__icon5 {
	margin-top: 6px;
	margin-left: 50px;
}
.clients__icon6 {
	margin-top: 6px;
	margin-left: 36px;
}