$font_stack: 'Roboto', sans-serif, 'Arial', 'Helvetica', sans-serif;
$font_logo: 'Raleway', sans-serif;
$primary_color: #FFFFFF;
$alternative_white: #F5F4FA;
$secondary_color: #2F303A;
$third_color: #2196F3;
$hover_button_color: #188CE8;
$h2_h3_font_color: #212121;
$p_font_color: #757575;
$tag_border_color: #EEEEEE;
